.vscode
node_modules

index.js

DataStructures/Bags/DisjointSet.js
DataStructures/Bags/Multiset.js
DataStructures/Graphs/Digraph.js
DataStructures/Graphs/UndirectedGraph.js
DataStructures/Graphs/UndirectedGraph.js
DataStructures/Heaps/MaxHeap.js
DataStructures/Heaps/MinHeap.js
DataStructures/Lists/LinkedList.js
DataStructures/Queues/PriorityQueue.js
DataStructures/Queues/Queue.js
DataStructures/Stacks/Stack.js
DataStructures/Trees/BST.js
DataStructures/Trees/LLRB.js
DataStructures/Structure.js
DataStructures/Graphs.MarkovChain.js

Interfaces/Cloneable.js
Interfaces/Collection.js
Interfaces/Comparable.js
Interfaces/Filterable.js
Interfaces/index.js
Interfaces/Mappable.js
Interfaces/Reducible.js
Interfaces/Reversible.js

Monads/Either.js
Monads/Monads.js
Monads/Maybe.js

Sorting/Sorting.js
Sorting/MergeSort.js

Utilities/Default.js
Utilities/Func.js
Utilities/index.js
Utilities/List.js
Utilities/Str.js
Utilities/Util.js

Maths/Maths.js
Maths/Algebras/Algebras.js
Maths/SetAlgebra/SetAlgebra.js
Maths/LinearAlgebra/LinearAlgebra.js
Maths/Algebras/SetAlgebra/SetAlgebra.js
Maths/Complex/ComplexNumber.js
Maths/Algebras/BitwiseLogic/BitwiseLogic.js
Maths/Algebras/BooleanAlgebra/BooleanAlgebra.js
Maths/Algebras/LinearAlgebra/index.js
Maths/Algebras/LinearAlgebra/Matrix.js
Maths/Algebras/LinearAlgebra/SquareMatrix.js
Maths/Algebras/LinearAlgebra/Vector2.js
Maths/Algebras/LinearAlgebra/Vector3.js
Maths/Algebras/LinearAlgebra/VectorN.js
Maths/Constants/Constants.js
Maths/index.js
Maths/Algebras/LinearAlgebra/LinearAlgebra.js

Alternative/Alt.js
Alternative/EChar.js
Alternative/EFloat.js
Alternative/EInteger.js
Alternative/EList.js
Alternative/EString.js
